html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    background: url("../images/bg_cover.jpg") no-repeat;
    background-size: cover;
}
.contentWrap {
    padding-top: 50px;
}
h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000;
}
.contentWrap h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.contentWrap h3 {
    font-size: 18px;
    line-height: 20px;
}
.tableCustom {
    margin-top: 20px;
}
.formList {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 25px 0 0 25px;
}
.formList label {
    color: white;
}
.buttonList {
    list-style: none;
}
.buttonList .control-group {
    float: left;
    margin: -16px 10px 0 0;
}
.buttonList .control-group label {
    margin-bottom: 5px;
}
.buttonList .control-group input {
    width: 192px;
}
.buttonList a {
    float: left;
    margin: 9px 10px 0 0;
    font-family: Helvetica, Arial, "sans-serif";
    font-weight: bold;
}
.buttonList label span {
    color: red;
    font-size: 14px;
}
.buttonList a.btn-danger {
    margin-right: 0;
}
.tableCustom {
    box-shadow: 0 0 10px 2px black;
}
.tableCustom td {
    background-color: #f2f9f7;
}
.tableCustom th {
    border: none;
}
.tableCustom tbody > tr:nth-child(1) > th {
    background-color: #5bb75b;
    color: white;
}
.tableCustom th:nth-child(1){
    border-radius: 5px 0 0 0;
}
.tableCustom th:nth-child(3){
    border-radius: 0 5px 0 0;
}
.tableCustom tbody > tr:nth-child(2n+1) > td {
    background-color: #a0c6ef;
}
.customForm {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid white;
}